.landing-official{
  background-image: url('../images to use/men/tuxedo.jpg');
  background-size:cover;
  /* background-repeat: no-repeat; */
  font-family: Arial, sans-serif;
  max-width: 100%;
  /* margin: 0 auto; */
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  height: 100vh;
}
/* .all_cassua-cards h2{
  color: white;
} */
.all_officials-cards{
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  text-align: center;
  /* color: white; */
}
.all_officials-cards h2{
  color: white;
}

#suits-container{
  width:200px;
  height: 250px;
  border-radius: 20px;
  border: 1.5px black;
  margin-left: -80px;
  }

  

  #pants-container{
    width:200px;
    height: 250px;
    border-radius: 20px;
    border: 1.5px solid;
    margin-left: 200px;

  }

  #shirt-container{
    width:200px;
    height: 250px;
    border-radius: 20px;
    border: 1.5px solid;
    margin-left: 200px;

  }

  #shoes-container{
    width:200px;
    height: 250px;
    border-radius: 20px;
    border: 1.5px solid;
    margin-left: 200px;
  }

  #suitsimg{
      width: 200px;
      height: 250px;
      border-radius: 20px;
      border: 1.5px solid;
    }
  #pantsimg{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    border: 1.5px solid;
    object-fit: cover;
  }
  #shirtsimg{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    border: 1.5px solid;
    object-fit: cover;
  
  }
  #shoesimg{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    border: 1.5px solid;
    object-fit: cover;
  }

