.access {
  background-image: url('../images to use/Accessories/accessory2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  height: 100vh;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

label {
  font-size: 1.2em;
}

#typeFilter {
  font-size: 1em;
  padding: 5px;
  margin: 10px 0;
}

.accessory-cards {
  display: flex;
  flex-wrap: wrap;
}

.accessory-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.accessory-card.active {
  border-color: #ff5733; /* Change border color for active items */
}

.accessory-card:hover {
  border-color: #ff5733; /* Change border color on hover */
}

.accessory-card h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.accessory-card p {
  font-size: 1em;
  margin: 0;
}

.accessory-card p.price {
  font-weight: bold;
}
