.contact-container {
    background-image: url("https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    display: flex;
    /* justify-content: space-between; */
    height: 100vh;
    /* margin-top: 6%; */
    background-color: #3CA39C;
    padding-left: 20%;
}
.contact-form{
  margin-top: 15%;
}
.contact-form form {
  max-width: 400px;
  border-radius: 10px; 
  padding: 20px; 
  background-color: #3CA39C; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.contact-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #3CA39C;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #fdfdfd;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #00b348;
}

  
  .contact-info {
    flex: 1;
    margin-top:20%;
    margin-left:20%;
  }
  
  .contact-info h2 {
    margin-bottom: 10px;
  }
  
  /* .contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  } */
  
  .contact-info svg {
    margin-right: 10px;
  }
  