body{
  color:black
}

.access {
    background-image: url('../images to use/men/mens background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    margin-top: 6px;
  }
.all_men-cards {
display: flex;
flex-wrap: wrap;
}

.all_men-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  .all_men-cards :hover{
    background-color: #ffffff;
  }
    