#mainButton {
    background-color: rgb(48, 63, 73);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
    /* Transition quality on hover.  */
  }
  
  #mainButton:hover {
    background-color: rgb(153, 6, 6) ;  
  }
  
 
  #mainButton:active {
    background-color: rgb(18, 89, 137)
  }
  